@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
	background-color: darkgray;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: darkgrey;
}
.form-control{
	width: 350px;
}
.img-categori{
	width: 50px;
}
.img-categori:hover{
	transform: scale(2.1);
}
.row-container{
	background-color: dimgrey;
}
.card:hover{
	border: 2px solid black;
}
